.modal__headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.modal__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100% !important;
}

.modal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 32px;
}