<ion-content>
  <header-title
    (backEvent)="back()"
    [back]="true"
    [title]="localization.localize('profile.about.terms','ecommerce')">
  </header-title>
  <div class="container">
    <div class="content">

      <div [innerHTML]="termsConditions.content">
      </div>

      <div *ngIf="termsConditions.content === ''" class="skeleton">
        <ion-skeleton-text animated class="skeleton-100" />
        <ion-skeleton-text animated class="skeleton-80" />
        <ion-skeleton-text animated class="skeleton-60" />
        <ion-skeleton-text animated class="skeleton-40" />
        <ion-skeleton-text animated class="skeleton-100" />
        <ion-skeleton-text animated class="skeleton-80" />
        <ion-skeleton-text animated class="skeleton-60" />
        <ion-skeleton-text animated class="skeleton-40" />
        <ion-skeleton-text animated class="skeleton-100" />
        <ion-skeleton-text animated class="skeleton-80" />
        <ion-skeleton-text animated class="skeleton-60" />
        <ion-skeleton-text animated class="skeleton-40" />
        <ion-skeleton-text animated class="skeleton-100" />
        <ion-skeleton-text animated class="skeleton-80" />
        <ion-skeleton-text animated class="skeleton-60" />
        <ion-skeleton-text animated class="skeleton-40" />
      </div>

    </div>
  </div>
</ion-content>