<ion-content>

  <header-title
    [back]="true"
    (backEvent)="back()"
    [title]="localization.localize('profile.orders.favorites','ecommerce')">
  </header-title>

  <div class="container">
    <div class="content">

      <page-empty
        *ngIf="favoriteItems.length === 0 && emptyFavorite"
        icon="😊"
        [title]="localization.localize('profile.favorites.empty.title','ecommerce')"
        [subtitle]="localization.localize('profile.favorites.empty.subtitle','ecommerce')">
      </page-empty>

      <section class="favorite-items" *ngIf="favoriteItems.length > 0 && !loading">

        <favorite-item-mobile
          *ngFor="let favoriteItem of favoriteItems"
          [favoriteItem]="favoriteItem"
          (moveToBasket)="moveToBasket($event)">
        </favorite-item-mobile>

      </section>

      <section class="favorite-items" *ngIf="favoriteItems.length===0 && loading">
        <article class="favorite-item display--flex inner-spacing--14" *ngFor="let item of [1, 2, 3]">
          <ion-skeleton-text animated class="imgProduct-skeleton" />
          <div class="display--flex  flex--column justify-content--space-between inner-spacing--10 width--100 ">
            <div class="display--flex justify-content--space-between">
              <ion-skeleton-text animated class="price-skeleton" />
              <ion-skeleton-text animated class="like-skeleton" />
            </div>
            <ion-skeleton-text animated class="detail-skeleton" />
            <ion-skeleton-text animated class="move-skeleton" />
          </div>
        </article>
      </section>
    </div>
  </div>
</ion-content>