<div class="content">
  <div class="display--flex flex--column align-items--center justify-content--center inner-spacing--20">
    <ion-icon class="icon icon--error-wave icon--48"> </ion-icon>
  <modal-base
    (fillButtonClickEvent)="viewSuccess()"
    [title]="localization.localize('basket.modalPayNot.title','ecommerce')"
    [subtitle]="localization.localize('basket.modalPayNot.subtitle','ecommerce')"
    [fillLabel]="localization.localize('basket.modalPayNot.buttom','ecommerce')">
  </modal-base>
</div>
</div>