<ion-content>

  <header-title [close]="true" (closeEvent)="onBackButtonPressed()"
    [title]="localization.localize('basket.typeMethods.title','ecommerce')" *ngIf="device==='mobile'">
  </header-title>

  <header-title title="Métodos de pago" position="start" (iconButtonEvent)="buttonClose()"
    classIconButton="icon icon--close-right" *ngIf="device==='tablet'">
  </header-title>

  <div class="container">
    <div class="content">

      <div class="display--flex flex--column inner-spacing--28 pt-20">
        <section class="advice">
          <ion-text class="text--secondary text--content-2-a">
            {{'basket.typeMethods.textMessage' | localize: 'ecommerce'}}
          </ion-text>
        </section>

        <section class="cards-container">
          <article class="method-pay">
            <ion-icon class="icon icon--efect-pay icon--46x32">
            </ion-icon>

            <ion-text class="method-pay-description text--primary">
              {{'basket.paymentMethods.cashPay' | localize: 'ecommerce'}}
            </ion-text>
          </article>
        </section>

        <section class="box-container">
          <div class="box-container__item">
            <input-prefix [setLine]="false"
              [placeholder]="localization.localize('basket.typeMethods.textDNI','ecommerce')"
              prefix="DNI"></input-prefix>
          </div>
          <div class="box-container__item">
            <input-flag [setLine]="false" [mask]="country.mask"
              [placeholder]="localization.localize('basket.typeMethods.textPhone','ecommerce')" [code]="country.code"
              [srcFlag]="country.flag" [label]="country.description" (clickArrowEvent)="openCountriesModal()">
            </input-flag>
          </div>
        </section>
      </div>

    </div>
  </div>

  <div class="footer-base" *ngIf="device==='mobile'">
    <div class="footer-base__container">
      <ion-button (click)="goToVoucherPay()" [disabled]="false"
        class="c-button c-button--large c-button--primary c-button--full-width">
        {{ 'basket.paymentMethods.buttomPayment' | localize: 'ecommerce' }}
      </ion-button>
    </div>
  </div>

  <div class="footer-base" *ngIf="device==='tablet'">
    <div class="footer-base__container">

      <div class="display--flex align-items--start inner-spacing--16">

        <ion-button class="c-button c-button--primary c-button--outline c-button--large width--50"
          (click)="payMethodModal()">
          Cancelar
        </ion-button>

        <ion-button [disabled]="false" (click)="voucherPayModal()"
          class="c-button c-button--primary c-button--large width--50">
          Confirmar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>