.content {
  overflow: auto;
  height: 86% !important;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--p-gray-scale-0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--p-gray-scale-0);
    border-radius: 10px;
    padding: 10px;
    border: 3px solid var(--p-gray-scale-0);
  }

}

.label {
  text-align: center;
  margin: auto;
  padding-block: 10px;
  margin-block: 24px;
}

.width-100 {
  width: 100%;
}

.buttons-container {
  display: flex;

  ion-button {
    width: 50%;
  }
}


ion-toggle::part(track) {
  height: 24px;
  width: 40px;

}

ion-toggle {
  --handle-width: 20px !important;
  --handle-height: 24px !important;
}

.mt-24 {
  margin-top: 24px;
}