item-navigation-line {
  position: relative;
  z-index: 999;
}

item-navigation {
  margin-top: 24px !important;
  position: relative;
  z-index: 999;
}

.separation {
  display: grid;
  gap: 24px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 28px;
  width: 100%;
}

//SKELETON
.logo-skeleton {
  --border-radius: 50%;
  width: 50px;
  height: 40px;
}

.name-skeleton {
  width: 80%;
  height: 15px;
}

.address-skeleton {
  width: 60%;
}
