<ion-content>

  <header-title [title]="localization.localize('profile.modalPassw.title','ecommerce')" position="start"
    (iconButtonEvent)="this.dialog.dismiss('cancel')" classIconButton="icon icon--close-right cursor-pointer">
  </header-title>


  <div class="container">
    <div class="hide--scroll width--100">
      <div>
        <div class="display--flex flex--column inner-spacing--24">

          <div class="content-password">
            <div class="content-input">
              <input-floating-label [label]="localization.localize('profile.modalPassw.currentPass', 'ecommerce')"
                [type]="currentPasswordType" [(value)]="currentPassword"></input-floating-label>

              <ion-icon *ngIf="currentPassword && currentPasswordType === 'password'"
                (click)="toggleInput('currentPassword')"
                class="icon icon--hide icon--no-padding input__icon-position"></ion-icon>
              <ion-icon *ngIf="currentPassword && currentPasswordType === 'text'"
                (click)="toggleInput('currentPassword')"
                class="icon icon--eye-open icon--no-padding input__icon-position"></ion-icon>
            </div>
          </div>

          <div class="content-password">
            <div class="content-input">
              <input-floating-label [label]="localization.localize('profile.modalPassw.newPass', 'ecommerce')"
                [type]="newPasswordType" [(value)]="newPassword"></input-floating-label>

              <ion-icon *ngIf="newPassword && newPasswordType === 'password'" (click)="toggleInput('newPassword')"
                class="icon icon--hide icon--no-padding input__icon-position"></ion-icon>
              <ion-icon *ngIf="newPassword && newPasswordType === 'text'" (click)="toggleInput('newPassword')"
                class="icon icon--eye-open icon--no-padding input__icon-position"></ion-icon>
            </div>

            <ion-label class="text--content-3-a text--gray-scale-700 text-align--justify"
              *ngIf=" !validatePassword(newPassword)">
              {{'profile.register.instructions' | localize: 'ecommerce'}}
            </ion-label>
          </div>

          <div class="content-password">
            <div class="content-input">
              <input-floating-label [label]="localization.localize('profile.modalPassw.confirmPass', 'ecommerce')"
                [type]="confirmPasswordType" [(value)]="confirmPassword"></input-floating-label>

              <ion-icon *ngIf="confirmPassword && confirmPasswordType === 'password'"
                (click)="toggleInput('confirmPassword')"
                class="icon icon--hide icon--no-padding input__icon-position"></ion-icon>
              <ion-icon *ngIf="confirmPassword && confirmPasswordType === 'text'"
                (click)="toggleInput('confirmPassword')"
                class="icon icon--eye-open icon--no-padding input__icon-position"></ion-icon>
            </div>
            <ion-label class="text--content-3-a text--gray-scale-700 text-align--justify"
              *ngIf="confirmPassword && newPassword !== confirmPassword">
              {{'profile.codeConfirmation.confirmPassword' | localize: 'ecommerce'}}
            </ion-label>
          </div>



        </div>
      </div>

      <div class="footer-base footer-base--no-line">
        <div class="footer-base__container">
          <div class="display--flex align-items--start inner-spacing--16">
            <ion-button class="c-button c-button--primary c-button--outline c-button--large width--50"
              (click)="dialog.dismiss('cancel')">
              {{'profile.modalLogout.outlineLabel' | localize: 'ecommerce'}}
            </ion-button>

            <ion-button [disabled]="!(newPassword && confirmPassword && newPassword === confirmPassword)"
              class="c-button c-button--primary c-button--large width--50" (click)="submit()">
              <ng-container *ngIf="isLoading">
                <ion-spinner name="crescent" />
              </ng-container>

              <span *ngIf="!isLoading">
                {{'profile.modalPassw.save' | localize: 'ecommerce'}}
              </span>
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>