ion-button {
  margin-top: 8px !important;
}

.buttom-top {
  margin-top: 8px !important;
}

.content-input {
  position: relative;
}

.input__icon-position {
  position: absolute;
  right: 0px;
  top: 30%;
  z-index: 99999;
}


