ion-checkbox {
    --checkbox-background-checked: var(--p-primary-main);
    --border-color-checked: transparent;
    --border-color: var(--p-secondary-outline-border);
    --size: 24px;
    --checkmark-color: var(--p-gray-scale-0);
    --checkmark-width: 2px;
    opacity: 1;
}

.button-edit {
    padding-inline: 40px;
    padding-top: 12px;
}

.content {
    overflow: auto;
    height: 86% !important;

    &::-webkit-scrollbar {
        width: 1px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--p-gray-scale-0);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--p-gray-scale-0);
        border-radius: 10px;
        padding: 10px;
        border: 3px solid var(--p-gray-scale-0);
    }
}