<ion-content [scrollY]="!stores">

  <header-title position="start" [title]="localization.localize('basket.storePickup.stores','ecommerce')" classIconButton="icon icon--close-right cursor-pointer"
    (iconButtonEvent)="back()">
  </header-title>

  <div class="content hide-scrollbar">

    <item-navigation-line [floatLabel]="localization.localize('general.country', 'ecommerce')" [srcFlag]="country.flag"
      [label]="country.description" [setArrow]="false">
    </item-navigation-line>

    <item-navigation classIconButton="icon icon--location"
      [label]="address.description === '' ? localization.localize('profile.address.select', 'ecommerce') : address.address" [setBackground]="true"
      (clickEvent)="chooseAddress()">
    </item-navigation>

    <section class="options">
      <div *ngIf="loading" class="separation">

        <item-navigation-avatar *ngFor="let store of stores" [avatarSrc]="store.logo" [label]="store.description"
          [details]="store.address" [sublabelButton]="localization.localize('basket.storePickup.addressHowtoget', 'ecommerce')" (clickEvent)="chooseStore(store)"
          (clickSublabelEvent)="openMap(store.latitude,store.longitude)">
        </item-navigation-avatar>
      </div>
      <div *ngIf="!loading" lines="none" class=" display--flex align-items--center inner-spacing--24 width--100">
        <ion-thumbnail slot="start" class="logo-skeleton">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label class="width--100">
          <h3>
            <ion-skeleton-text [animated]="true" class="name-skeleton"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" class="address-skeleton"></ion-skeleton-text>
          </p>
        </ion-label>
      </div>
      <ion-button (click)="termsAndConditions()"
        class="c-button c-button--text-primary c-button--extra-small c-button--no-padding-x text--secondary">
        <ion-text class="text--secondary text--content-2-a">
          {{localization.localize('basket.storePickup.seeTerms','ecommerce')}}
        </ion-text>
      </ion-button>
    </section>

    <page-empty *ngIf="!available" icon="😊" [title]="localization.localize('basket.storePickup.stores.empty','ecommerce')"
    [subtitle]="localization.localize('basket.storePickup.stores.empty.subTitle','ecommerce')">
    </page-empty>

  </div>

</ion-content>