<ion-content>
  <header-title position="start" [title]="localization.localize('basket.myAddresses.title', 'ecommerce')">
  </header-title>
  <div class="container">
    <div class="content">
      <div class="list-dateAddresses display--flex flex--column inner-spacing--24">
        <ion-radio-group #radioGroup value="custom-checked"
          class="list-delivery-time display--flex flex--column inner-spacing--24">
          <div class="item-dateAddresses display--flex align-items--start inner-spacing--12"
            *ngFor="let address of addresses" (click)="selectRadio(address.value)">
            <ion-radio [id]="'radio_' + address.value" value="{{address.value}}" class="width-24"></ion-radio>
            <div class="info-content display--flex flex--column inner-spacing--12">
              <div class="addresses">
                <div class="info-addresses">
                  <ion-label class="text--content-1-a text--gray-scale-1000" [for]="'radio_' + address.value">
                    {{ address.description }}
                  </ion-label>
                </div>
              </div>
              <div class="button-edit">
                <ion-button class="c-button c-button--text-primary c-button--no-padding" [disabled]="true">
                  {{'basket.addBillingModal.buttonEdit' | localize: 'ecommerce'}}
                </ion-button>
              </div>
            </div>
          </div>
        </ion-radio-group>
        <div class="button-add">
          <item-option [label]="localization.localize('basket.myAddresses.buttonAdd', 'ecommerce')"
            classIconButton="icon icon--plus-1 icon--24 icon--gray-scale-1000" class="width--100"></item-option>
        </div>
      </div>
    </div>
  </div>
  <footer-spacing height="80px"></footer-spacing>
  <div class="footer-base">
    <div class="footer-base__container display--flex flex--row inner-spacing--16">
      <ion-button (click)="save()"
        class="c-button c-button--secondary c-button--outline c-button--large c-button--full-width">
        {{'basket.addBillingModal.buttonCancel' | localize: 'ecommerce'}}</ion-button>
      <ion-button (click)="save()" class="c-button c-button--primary c-button--large c-button--full-width buttom-top">
        {{'basket.addBillingModal.buttonConfirm' | localize: 'ecommerce'}}
      </ion-button>
    </div>
  </div>
</ion-content>
