.checkBox-Addresses ion-checkbox {
  --background-checked: var(--p-primary-main);
  --border-color-checked:transparent;
  --border-color: var(--p-secondary-outline-border);
  --size: 24px;
  --checkmark-color: var(--p-gray-scale-0);
  --checkmark-width: 2px;
  opacity: 1;
}
