.item-result {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  padding: 24px 24px 0;

  & .icon--label {
    min-width: 24px;
    min-height: 24px;
  }

  &-content {
    flex: 1;
    margin-right: 20px;
    min-width: 60%;
    display: flex;
    flex-direction: column;
  }

  .input {
    --padding-top: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    border: 1px solid var(--p-black);
    text-align: center;
    border-radius: 5px;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    color: var(--p-black);
  }
}

.footer {
  padding: 8px 24px;
  border-top: 1px solid var(--p-gray-scale-200);
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;

  .c-button {
    color: var(--p-black) !important;
  }
}

.spinner {
  --color: var(--p-black);
}