<div class="content">

  <img
    src="/assets/general/security-code-card.svg"
    alt="Security Code Card">

    <div class="title-label">
      <ion-text
        class="text--primary text--content-1-c text-align--center">
        {{ 'profile.cards.securityCode.title' | localize: 'ecommerce' }}
      </ion-text>

      <ion-text
        class="text--secondary text--content-2-a text-align--center">
        {{ 'profile.cards.securityCode.subtitle' | localize: 'ecommerce' }}
      </ion-text>
    </div>
</div>