<ion-content>

  <header-title
    (click)="this.dialog.dismiss('cancel')"
    [back]="true"
    [title]="localization.localize('profile.infPersonal.name','ecommerce')">
  </header-title>

  <div class="container">
    <div class="content">

      <input-floating-label
        [label]="localization.localize('profile.infPersonal.name','ecommerce')"
        type="text"
        [(value)]="name">
      </input-floating-label>

    </div>
    <div class="footer-base footer-base--no-toolbar">
      <div class="footer-base__container">
        <ion-button [disabled]="disableButton()"
          class="c-button c-button--primary c-button--large c-button--full-width buttom-top"
          (click)="submit(name)">
          {{'profile.modalPassw.save' | localize: 'ecommerce'}}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>