<ion-content>
  <header-title
    position="start"
    [title]="localization.localize('profile.resetPassword.title', 'ecommerce')">
  </header-title>

  <div class="container">
    <div class="width--100 display--flex flex--column inner-spacing--40">
      <div class="content-form display--flex flex--column inner-spacing--24">

        <div class="content-newPassword">
          <div class="content-input">

            <input-floating-label
              [label]="localization.localize('profile.resetPassword.label1', 'ecommerce')"
              [type]="newPasswordInputType"
              [(value)]="newPassword"
              (modelChangeEvent)="onCheckNewPasswordRequirements()">
            </input-floating-label>
            <ion-icon
              *ngIf="newPassword && newPasswordInputType === 'password'"
              (click)="onToggleNewPasswordInputType('text')"
              class="icon icon--hide icon--no-padding input__icon-position cursor-pointer">
            </ion-icon>

            <ion-icon
              *ngIf="newPassword && newPasswordInputType === 'text'"
              (click)="onToggleNewPasswordInputType('password')"
              class="icon icon--eye-open icon--no-padding input__icon-position cursor-pointer">
            </ion-icon>
          </div>
          <ion-label
            *ngIf="showNewPasswordInstructions"
            class="text--content-3-a text--gray-scale-700 text-align--justify">
            {{ 'profile.resetPassword.newPasswordInstructions' | localize: 'ecommerce' }}
          </ion-label>
        </div>

        <div class="content-repeatPassword">
          <div class="content-input">
            <input-floating-label
              [label]="localization.localize('profile.resetPassword.label2', 'ecommerce')"
              [type]="repeatedPasswordInputType"
              [(value)]="repeatedPassword"
              (modelChangeEvent)="onCheckRepeatedPassword()">
            </input-floating-label>
            <ion-icon *ngIf="repeatedPassword && repeatedPasswordInputType === 'password'"
              (click)="onToggleRepeatedPasswordInputType('text')"
              class="icon icon--hide icon--no-padding input__icon-position cursor-pointer">
            </ion-icon>

            <ion-icon *ngIf="repeatedPassword && repeatedPasswordInputType === 'text'"
              (click)="onToggleRepeatedPasswordInputType('password')"
              class="icon icon--eye-open icon--no-padding input__icon-position cursor-pointer">
            </ion-icon>
            <ion-label class="text--content-3-a text--gray-scale-700 text-align--justify"
              *ngIf="repeatedPassword && newPassword !== repeatedPassword">
              Las contraseñas no coinciden.
            </ion-label>
          </div>
        </div>
      </div>

      <div class="button-text">
        <ion-label (click)="loginNav();" class="text--content-2-a text--gray-scale-1000 cursor-pointer">
          {{'profile.resetPassword.labelButton' | localize: 'ecommerce'}}
        </ion-label>
      </div>
    </div>
  </div>

  <footer-spacing height="80px"></footer-spacing>
  <div class="footer-base footer-base--no-line">
    <div class="footer-base__container">
      <ion-button
        class="c-button c-button--primary c-button--large c-button--full-width buttom-top"
        (click)="submitTablet()"
        [disabled]="!passwordRequirementsMet || newPassword !== repeatedPassword || isLoading">

        <ng-container *ngIf="isLoading">
          <ion-spinner name="crescent" />
        </ng-container>

        <span *ngIf="!isLoading">
          {{'profile.resetPassword.buttonTitle' | localize: 'ecommerce'}}
        </span>
      </ion-button>
    </div>
  </div>
</ion-content>