<ion-content>
  <header-title [back]="true" (backEvent)="back()"
    [title]="localization.localize('profile.invoice.formTitle','ecommerce')">
  </header-title>

  <div class="container">
    <div class="content">

      <section class="inputs-container">

        <input-floating-label
          [setAutofocus]="true"
          [label]="localization.localize('profile.invoice.formName','ecommerce')"
          [value]="invoicingForm.business_name"
          [(value)]="invoicingForm.business_name">
        </input-floating-label>

        <input-floating-label
          [label]="localization.localize('profile.invoice.formFiscalIdentifier','ecommerce')"
          [value]="invoicingForm.tax_identifier"
          [(value)]="invoicingForm.tax_identifier"
          type="tel">
        </input-floating-label>

        <input-floating-label
          [label]="localization.localize('profile.invoice.formFiscalAddress','ecommerce')"
          [value]="invoicingForm.fiscal_address"
          [(value)]="invoicingForm.fiscal_address">
        </input-floating-label>

        <div class="cursor-pointer">
          <item-navigation-line
            [floatLabel]="country.national_division[0]"
            [label]="addressForm.extra[0].value ? addressForm.extra[0].value : country.national_division[0]"
            (clickEvent)="openDepartmentsModal()">
          </item-navigation-line>
        </div>
        <!-- provincia -->
        <div class="cursor-pointer">
          <item-navigation-line
            [floatLabel]="country.national_division[1]"
            [label]="addressForm.extra[1].value ? addressForm.extra[1].value : country.national_division[1]"
            (clickEvent)="openProvincesModal()">
          </item-navigation-line>
        </div>
        <!-- distrito -->
        <div class="cursor-pointer">
          <item-navigation-line
            [floatLabel]="country.national_division[2]"
            [label]="addressForm.extra[2].value ? addressForm.extra[2].value : country.national_division[2]"
            (clickEvent)="openDistrictsModal()">
          </item-navigation-line>
        </div>
      </section>

      <div class="default display--flex align-items--center justify-content--space-between">
        <ion-text class="text--primary text--content-1-a">
          {{ 'profile.invoice.formDefault' | localize: 'ecommerce' }}
        </ion-text>
        <ion-toggle
					[value]="invoicingForm.is_default"
					[(ngModel)]="invoicingForm.is_default"
          class="c-toggle c-toggle--primary">
        </ion-toggle>
      </div>

    </div>
  </div>

  <div class="footer-base ">
    <div class="footer-base__container">
      <ion-button (click)="submit()" [disabled]="disableButton()"
        class="c-button c-button--large c-button--primary c-button--full-width">

        <ng-container *ngIf="isLoading">
          <ion-spinner name="crescent" />
        </ng-container>

        <span *ngIf="!isLoading">
          {{ 'profile.invoice.formSave' | localize: 'ecommerce' }}
        </span>
      </ion-button>
    </div>
  </div>
</ion-content>