<ion-content #content>

  <header-title
    [back]="true"
    (backEvent)="handleBack()"
    [title]="this.edit ? localization.localize('profile.address.editAddress','ecommerce') : localization.localize('profile.address.newAddress','ecommerce')">
  </header-title>

  <div class="container" [ngStyle]="{'padding' : usedAsModal ? '0' : '28px 24px 24px 24px'}">
    <div class="content display--flex flex--column inner-spacing--24">

      <section class="inputs-container display--flex flex--column inner-spacing--24">

        <!-- NAME -->
        <input-floating-label
          [setAutofocus]="true"
          [label]="localization.localize('profile.address.formName', 'ecommerce')"
          [(value)]="addressForm.description"
          (modelChangeEvent)="handleShowCompleteForm()">
        </input-floating-label>

        <!-- COUNTRY -->
        <item-navigation-line
          [setArrow]="false"
          [srcFlag]="country.flag"
          [label]="country.description"
          [floatLabel]="localization.localize('general.country', 'ecommerce')"
          >
        </item-navigation-line>

        <!-- ADDRESS -->
        <input-floating-label
          [label]="localization.localize('profile.address.formAddress', 'ecommerce')"
          [(value)]="addressForm.address"
          [value]="addressForm.address | textSlice: 40"
          (click)="showMap()"
          [readonly]="true">
        </input-floating-label>
      </section>

      <section *ngIf="!showCompleteForm" class="label">
        <ion-text class="text--primary text--content-2-a">
          {{ 'profile.address.formLabel' | localize: 'ecommerce' }}
        </ion-text>
      </section>

      <section *ngIf="showCompleteForm" class="display--flex flex--column inner-spacing--40" >
        <article class="display--flex flex--column inner-spacing--24">

          <ng-container *ngIf="country.id === 'PE'">
            <!-- DEPARTMENT -->
            <item-navigation-line
              [floatLabel]="country.national_division[0]"
              label="{{ addressForm.extra[0].value ? addressForm.extra[0].value : country.national_division[0] }}"
              (clickEvent)="openDepartmentsModal()">
            </item-navigation-line>

            <!-- PROVINCE -->
            <item-navigation-line
              [floatLabel]="country.national_division[1]"
              label="{{ addressForm.extra[1].value ? addressForm.extra[1].value : country.national_division[1] }}"
              (clickEvent)="openProvincesModal()">
            </item-navigation-line>

            <!-- DISTRICT -->
            <item-navigation-line
              [floatLabel]="country.national_division[2]"
              label="{{ addressForm.extra[2].value ? addressForm.extra[2].value : country.national_division[2] }}"
              (clickEvent)="openDistrictsModal()">
            </item-navigation-line>
          </ng-container>

          <ng-container *ngIf="country.id !== 'PE'">
            <input-floating-label
              [label]="country.national_division[0]"
              [(value)]="addressForm.extra[0].value"
              (modelChangeEvent)="handleShowCompleteForm()">
            </input-floating-label>

            <input-floating-label
              [label]="country.national_division[1]"
              [(value)]="addressForm.extra[1].value"
              (modelChangeEvent)="handleShowCompleteForm()">
            </input-floating-label>

            <input-floating-label
              *ngIf="country.national_division[2]"
              [label]="country.national_division[2]"
              [(value)]="addressForm.extra[2].value"
              (modelChangeEvent)="handleShowCompleteForm()">
            </input-floating-label>

          </ng-container>

          <!-- POSTAL CODE -->
          <input-floating-label
            (click)="scrollToBottom()"
            [label]="localization.localize('profile.address.formPostalCode', 'ecommerce')"
            type="tel"
            [(value)]="addressForm.postal_code">
          </input-floating-label>
        </article>

        <!-- DEFAULT -->
        <article class="default display--flex align-items--center justify-content--space-between">
          <ion-text class="text--primary text--content-1-a">
            {{ 'profile.address.formDefault' | localize: 'ecommerce' }}
          </ion-text>
          <ion-toggle
            [(ngModel)]="addressForm.is_default"
            class="c-toggle c-toggle--primary">
          </ion-toggle>
        </article>
      </section>
    </div>
  </div>

  <div class="footer-base ">
    <div class="footer-base__container">
      <ion-button
        (click)="submit()"
        [disabled]="disableSaveButton()"
        class="c-button c-button--large c-button--primary c-button--full-width">

        <ng-container *ngIf="isLoading">
          <ion-spinner name="crescent" />
        </ng-container>

        <span *ngIf="!isLoading">
          {{ 'profile.invoice.formSave' | localize: 'ecommerce' }}
        </span>
      </ion-button>
    </div>
  </div>
</ion-content>
