<ion-content>

  <header-title
    (click)="this.dialog.dismiss('cancel')" [back]="true"
    [title]="localization.localize('profile.modalPassw.title','ecommerce')">
  </header-title>

  <div class="container">
    <div class="content">

      <div class="display--flex flex--column inner-spacing--24">
        <div class="content-password">
          <div class="content-input">

            <input-floating-label
              [setAutofocus]="true"
              [label]="localization.localize('profile.modalPassw.currentPass', 'ecommerce')"
              [type]="currentPasswordType"
              [(value)]="currentPassword">
            </input-floating-label>

            <ion-icon
              *ngIf="currentPassword && currentPasswordType === 'password'"
              (click)="toggleInput('currentPassword')"
              class="icon icon--hide icon--no-padding input__icon-position">
            </ion-icon>

            <ion-icon
              *ngIf="currentPassword && currentPasswordType === 'text'"
              (click)="toggleInput('currentPassword')"
              class="icon icon--eye-open icon--no-padding input__icon-position">
            </ion-icon>
          </div>
        </div>

        <div class="content-password">
          <div class="content-input">
            <input-floating-label
              [label]="localization.localize('profile.modalPassw.newPass', 'ecommerce')"
              [type]="newPasswordType"
              [(value)]="newPassword">
            </input-floating-label>

            <ion-icon
              *ngIf="newPassword && newPasswordType === 'password'"
              (click)="toggleInput('newPassword')"
              class="icon icon--hide icon--no-padding input__icon-position">
            </ion-icon>

            <ion-icon
              *ngIf="newPassword && newPasswordType === 'text'"
              (click)="toggleInput('newPassword')"
              class="icon icon--eye-open icon--no-padding input__icon-position">
            </ion-icon>
          </div>

          <ion-label
            class="text--content-3-a text--gray-scale-700 text-align--justify"
            *ngIf="newPassword && !validatePassword(newPassword)">
            {{'profile.register.instructions' | localize: 'ecommerce'}}
          </ion-label>
        </div>

        <div class="content-password">
          <div class="content-input">
            <input-floating-label
              [label]="localization.localize('profile.modalPassw.confirmPass', 'ecommerce')"
              [type]="confirmPasswordType" [(value)]="confirmPassword">
            </input-floating-label>

            <ion-icon
              *ngIf="confirmPassword && confirmPasswordType === 'password'"
              (click)="toggleInput('confirmPassword')"
              class="icon icon--hide icon--no-padding input__icon-position">
            </ion-icon>

            <ion-icon
              *ngIf="confirmPassword && confirmPasswordType === 'text'"
              (click)="toggleInput('confirmPassword')"
              class="icon icon--eye-open icon--no-padding input__icon-position">
            </ion-icon>
          </div>
          <ion-label
            class="text--content-3-a text--gray-scale-700 text-align--justify"
            *ngIf="confirmPassword && newPassword !== confirmPassword">
            {{'profile.codeConfirmation.confirmPassword' | localize: 'ecommerce'}}
          </ion-label>
        </div>
      </div>
    </div>

  </div>

  <div class="footer-base footer-base--no-toolbar">
    <div class="footer-base__container">
      <ion-button
          [disabled]="!(newPassword && confirmPassword && newPassword === confirmPassword) || isLoading"
        class="c-button c-button--primary c-button--large c-button--full-width buttom-top"
        (click)="submit()">

        <ng-container *ngIf="isLoading">
          <ion-spinner name="crescent" />
        </ng-container>

        <span *ngIf="!isLoading">
          {{'profile.modalPassw.save' | localize: 'ecommerce'}}
        </span>
      </ion-button>
    </div>
  </div>
</ion-content>
