.icon-perfil {
    display: flex;
    gap: 16px;
    align-items: center;
}

.container {
    background-color: var(--p-background-secondary) !important;
    background: var(--p-background-secondary) !important;
    --background: var(--p-background-secondary) !important;
}