<ion-content>
  <div class="container">
    <header-title [close]="true" [title]="localization.localize('basket.deliveryRequirements.title', 'ecommerce')"
      (closeEvent)="close()">
    </header-title>
    <div class="content display--flex flex--column inner-spacing--32">
      <div class="label-description display--flex align-items--center justify-content--center">
        <ion-label class="text--content-2-a text--gray-scale-700 ">
          {{'basket.deliveryRequirements.label' | localize: 'ecommerce'}}</ion-label>
      </div>
      <div class="textArea-description">
        <ion-textarea class="description" [(ngModel)]="textAreaContent">
        </ion-textarea>
      </div>
    </div>
  </div>
  <footer-spacing height="80px"></footer-spacing>
  <div class="footer-base">
    <div class="footer-base__container">
      <ion-button class="c-button c-button--primary c-button--large c-button--full-width buttom-top"
        [disabled]="!textAreaContentIsValid()" (click)="save()">
        {{'basket.deliveryRequirements.buttonConfirm' | localize: 'ecommerce'}}
      </ion-button>
    </div>
  </div>
</ion-content>
