<section class="options">
  <!-- EDIT -->
  <!-- <div
    (click)="selectOption('edit')"
    class="option cursor-pointer">
    <ion-icon class="icon icon--edit-square">
    </ion-icon>
    <ion-text class="text--primary">
      {{ 'profile.optionsOrderPopover.edit' | localize: 'ecommerce' }}
    </ion-text>
  </div> -->

  <!-- SHARE -->
  <!-- <div
    (click)="selectOption('share')"
    class="option cursor-pointer">
    <ion-icon class="icon icon--share">
    </ion-icon>
    <ion-text class="text--primary">
      {{ 'profile.optionsOrderPopover.share' | localize: 'ecommerce' }}
    </ion-text>
  </div> -->

  <!-- OVERRIDE -->
  <div
    (click)="selectOption('override')"
    class="option cursor-pointer">
    <ion-icon class="icon icon--trash icon--delete">
    </ion-icon>
    <ion-text class="text--primary text--delete">
      {{ 'profile.optionsOrderPopover.override' | localize: 'ecommerce' }}
    </ion-text>
  </div>
</section>