<ion-content [ngClass]="{'auto-size': isKeyboardOpen}" [scrollY]="cartItems.length !== 0">

  <header-title [back]="true" [title]="localization.localize('basket.home.title','ecommerce')"
    (backEvent)="onBackButtonPressed()">
  </header-title>

  <div class="container">
    <div class="content">

      <page-empty *ngIf="cartItems.length === 0 && !isLoading" icon="😊"
        [title]="localization.localize('basket.home.empty.title','ecommerce')"
        [subtitle]="localization.localize('basket.home.empty.subtitle','ecommerce')">
      </page-empty>

      <!-- SKELETONS -->
      <section class="skeletons-container" *ngIf="isLoading">
        <ng-container>
          <div class="skeleton" *ngFor="let item of [1,1,1,1,1,1]">
            <div class="display--flex justify-content--space-between">
              <div class="display--flex flex--column flex--1">
                <ion-skeleton-text class="animated width--80 height--16px" />
                <ion-skeleton-text class="animated width--50 height--16px" />
              </div>
              <ion-skeleton-text class="animated width--10 height--16px" />
            </div>
            <div class="display--flex inner-spacing--12 margin-top--24px">
              <ion-skeleton-text class="animated width--80px height--104px" />
              <div class="display--flex flex--column justify-content--space-between flex--1">
                <div class="display--flex flex--column">
                  <ion-skeleton-text class="animated width--100 height--16px" />
                  <ion-skeleton-text class="animated width--70 height--16px" />
                </div>
                <div class="display--flex flex--row justify-content--space-between">
                  <ion-skeleton-text class="animated width--25 height--24px" />
                  <ion-skeleton-text class="animated width--25 height--24px" />
                </div>
              </div>
            </div>
            <div class="display--flex inner-spacing--12 margin-top--24px">
              <ion-skeleton-text class="animated width--80px height--104px" />
              <div class="display--flex flex--column justify-content--space-between flex--1">
                <div class="display--flex flex--column">
                  <ion-skeleton-text class="animated width--100 height--16px" />
                  <ion-skeleton-text class="animated width--70 height--16px" />
                </div>
                <div class="display--flex flex--row justify-content--space-between">
                  <ion-skeleton-text class="animated width--25 height--24px" />
                  <ion-skeleton-text class="animated width--25 height--24px" />
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </section>
      <!-- SKELETONS -->

      <section *ngFor="let cartItem of cartItems" class="basket-item">

        <div class="display--flex width--100 flex--column inner-spacing--24 width--100">

          <div class="display--flex justify-content--space-between inner-spacing--16">
            <div>
              <ion-label class="text--content-1-c">
                {{cartItem.item.description }}
              </ion-label>
            </div>
            <ion-icon (click)="presentPopover(cartItem.id,$event)"
              class="icon icon--menu-dots icon--gray-scale-500 icon--24" />
          </div>

          <div *ngIf="!cartItem.item.has_variants">

            <sliding-product-in-basket (indexSelected)="indexSelectedNow($event)" (focusEvent)="focus()"
              (blurEvent)="blur(cartItem.item.id)" class="display--flex width--100" (deleteEvent)="delete(cartItem.id)"
              [index]="cartItem.item.id" [unitTypeDescription]="cartItem.item.unit_type.description"
              [price]="calculatePriceToPayWithoutVariant(cartItem.item, cartItem.data.quantity)"
              [(value)]="cartItem.data.quantity"
              [srcImage]="cartItem.item.files.length > 0 ? cartItem.item.files[0].path : ''" [readonly]="false">
            </sliding-product-in-basket>
          </div>

          <div *ngIf="cartItem.item.has_variants">

            <sliding-product-in-basket *ngFor="let variant  of cartItem.data.variants ;let i = index"
              (indexSelected)="indexSelectedNow($event)" (focusEvent)="focus()"
              (blurEvent)="blurVariant(cartItem.item.id, variant.id)" class="display--flex width--100"
              (deleteEvent)="deleteVariant(cartItem.item.id, variant.id,false)"
              [unitTypeDescription]="cartItem.item.unit_type.description" [index]="cartItem.data.variants[i].id"
              [details]="getVariantDetails(cartItem.item, cartItem.data.variants[i].id)"
              [srcImage]="getVariantData(cartItem.item, cartItem.data.variants[i].id).files.length > 0 ? getVariantData(cartItem.item, cartItem.data.variants[i].id).files[0].path : ''"
              [price]="calculatePriceToPayWithVariant(cartItem.item.variants,cartItem.data.variants[i].id,cartItem.data.variants[i].quantity) "
              [(value)]="+cartItem.data.variants[i].quantity" [readonly]="false">
            </sliding-product-in-basket>
          </div>

          <div class="line-product"></div>
        </div>
      </section>
    </div>
  </div>

  <footer-spacing height="80px"></footer-spacing>

  <div *ngIf="cartItems.length !== 0 && !isLoading" class="footer-base footer-base--no-safe-area">
    <div class="footer-base__container">
      <ion-button (click)="delivery()" class="c-button c-button--large c-button--primary c-button--full-width">
        {{ 'basket.home.empty.goToPay' | localize:'ecommerce' }}
        (S/ {{this.total | number : '1.2-2'}})
      </ion-button>
    </div>
  </div>

  <menu-input [ngClass]="{
    'keyboard-animation-top-menu':keyboardWillShow && platform === 'ios',
    'keyboard-animation-bottom-menu':!keyboardWillShow && platform === 'ios'
    }" (clickOkEvent)="clickOk()" *ngIf="showMenuInput">
  </menu-input>

</ion-content>