.popover-container {
  padding: 32px;
  background: var(--p-background-secondary);
}

.text-header {
  margin-bottom: 32px;
}

.button-medias {
  margin-bottom: 32px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-copy {
  --border-radius: 0px 10px 10px 0px !important;
  margin: 0 !important;

  .icon--copy {
    min-height: 24px;
    min-width: 24px;
  }
}

.text-button {
  margin-right: 12px;
}

.container-link {
  border: 1px solid var(--p-gray-scale-200);
  width: 70%;

  ion-text {
    padding: 0px 10px;
  }
}

.text-copy {
  margin-left: 6px;
}