<div class="content" style="background-color: black !important;
  padding-inline: 0 !important;
  padding-bottom: 0 !important;">

  <div class="header-img display--flex justify-content--space-between" [ngClass]="{
      'ios':platform === 'ios',
      'android':platform === 'android'
      }">
    <ion-icon class="icon icon--close-center icon--white cursor-pointer" (click)="dismiss()">
    </ion-icon>

    <ion-text class="text--content-1-a text--white">
      {{ currentIndex }}/{{ imagesVariantsProduct.length }}
    </ion-text>

  </div>

  <swiper-container (slidechange)="slideChange($event)">
    <swiper-slide *ngFor="let image of imagesVariantsProduct">
      <img [src]="currentImagePath" alt="Slide">
    </swiper-slide>
  </swiper-container>

  <div *ngIf="imagesVariantsProduct.length > 1" class="header-img display--flex justify-content--space-between">
    <ion-icon class="icon icon--arrow-geor-left-large icon--white cursor-pointer" (click)="previousImage()"></ion-icon>
    <ion-icon class="icon icon--arrow-geor-right-large icon--white cursor-pointer" (click)="nextImage()"></ion-icon>
  </div>
</div>