<div class="content">

  <header-title (iconButtonEvent)="buttonClose()" classIconButton="icon icon--close-right"></header-title>

  <div class="display--flex flex--column inner-spacing--24">
    <div class="title-label display--flex flex--column inner-spacing--16">
      <title-section title="Paso 1"></title-section>
      <img src="/assets/images/code-yape-01.jpg" alt="Security Code Card">
    </div>

    <div class="title-label display--flex flex--column inner-spacing--16">
      <title-section title="Paso 2"></title-section>
      <img src="/assets/images/code-yape-02.jpg" alt="Security Code Card">
    </div>
  </div>
</div>