.invoice-item {
  display: flex;
  gap: 24px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;

    &__default {
      padding: 4px;
      color: var(--p-success-shade);
      background-color: var(--p-success-low);
      border-radius: 5px;
      width: fit-content;
    }

  }

  &__option {
    height: fit-content;
  }
}