<!--MODAL TABLET-->
<div class="content" id="tabletContent">
  
  <div class="display--flex flex--column align-items--center justify-content--center inner-spacing--20">
    <ion-icon class="icon icon--ok-green icon--48"> </ion-icon>
    <modal-base 
    title="Pago realizado con éxito" 
    subtitle="Se ha establecido un chat para tu pedido, abierto al equipo de ventas para seguimiento o consultas."
    fillLabel="Seguir comprando"
    outlineLabel="Ir al pedido"
    (fillButtonClickEvent)="goShoppingTablet()"
    (outlineButtonClickEvent)="ordersTablet()">>
  </modal-base>

</div>
</div>