<ion-content>

  <ion-fab class="mt-3 ms-3" slot="fixed">
    <ion-fab-button
      (click)="back()"
      class="dark button-header">
      <ion-icon class="icon icon--arrow-left"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="max-height">
    <div id="map" #map></div>
  </div>


</ion-content>
<ion-footer *ngIf="showFooter" class="footer">

  <ion-text
    class="footer__address text--primary">
    {{ ecommerceAddressName }}
  </ion-text>

  <ion-button
    (click)="confirm()"
    class="c-button c-button--large c-button--primary c-button--full-width">
    {{ 'general.confirm' | localize: 'ecommerce' }}
  </ion-button>
</ion-footer>