<div class="skeleton">
  <ion-skeleton-text [style.height.px]="desktopMode ? 300 : 230" animated class="skeleton-image mb-skeleton" />
  <div class="display--flex justify-content--space-between mb-skeleton">
    <ion-skeleton-text animated class="skeleton-name" />
    <ion-skeleton-text animated class="skeleton-cart" />
  </div>
  <ion-skeleton-text animated class="skeleton-first-description mb-skeleton" />
  <ion-skeleton-text animated class="skeleton-second-description mb-skeleton" />
  <ion-skeleton-text animated class="skeleton-second-description" />
</div>